body {
  color: #40414E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.65rem;
  margin: 50px auto 50px auto;
  font-family: 'Sacramento', cursive;
  color: #55BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  line-height: 2;
  font-weight: bold;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

h6{
  color: gray;
}

p{
  line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #11999E;
  margin: 10px 20px;
}

a:hover{
  color: #EAF6F6;
}

.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.my-photo {
  width: 18%
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.screen {
  width: 25%;
  float: left;
  margin-right: 30px;
  clear: left;
}

.driver {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 23%;
  top: 8%;
}

.bottom-cloud {
  position: absolute;
  left: 25%;
  top: 45%;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
	box-shadow: 0px 0px 0px 2px #18c5f0;
	background:linear-gradient(to bottom, #4bc5db 5%, #476e9e 100%);
	background-color:#4bc5db;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Montserrat;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.btn:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #4bc5db 100%);
	background-color:#476e9e;
}
